.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    border-top: 1px solid #797979;
    justify-content: space-between;
    padding: 15px 0;
    padding-left: 160px;

}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
